#modalBackground {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.clusterEditorModal {
  max-height: 60vh;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0, 0, 5px 5px, rgba(0, 0, 0, 0.5);
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.clusterEditor {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  gap: 100px;
}

.addClusterContainer,
.deleteClusterContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
}

h5 {
  text-align: center;
}

.verticalLine {
  border-right: 1px solid black;
  align-self: center;
  height: 150px;
}

.clusterEditorModal h3 {
  font-size: 1.5em;
  text-align: center;
}

.clusterInput {
  border-radius: 15px;
  padding: 0.8em;
  border: 0px solid black;
  font-weight: 700;
  font-size: 1.1em;
  background-color: rgba(0, 0, 0, 0.1);
}

.clusterInput:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.clusterInput::placeholder {
  font-style: italic;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.buttonsContainer a {
  text-decoration: none;
  color: black;
}

.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-45 {
  align-items: center;
  background-color: #FFE7E7;
  background-position: 0 0;
  border: 1px solid #FEE0E0;
  border-radius: 11px;
  box-sizing: border-box;
  color: #D33A2C;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  line-height: 33.4929px;
  list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
  padding: 2px 12px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border .2s ease-in-out, box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
}

.button-45:active,
.button-45:hover,
.button-45:focus {
  outline: 0;
}


.button-45:active {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

.button-45:hover {
  background-color: #FFE3E3;
  border-color: #FAA4A4;
}

.button-45:active:hover,
.button-45:focus:hover,
.button-45:focus {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}