#modalBackground {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactModal {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0, 0, 5px 5px, rgba(0, 0, 0, 0.5);
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

.modalTitle {
  font-size: 2rem;
}

.tableTitle {
  font-size: 1.2rem;
  font-weight: 700;
}

table {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.developersTable {
  border: 1px solid black;
  padding: 20px;
}

tr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 20px;
  width: 100%;
}

td {
  display: flex;
  justify-content: end;
}

.developerNameTD {
  text-align: right;
  font-size: 1.3rem;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.buttonsContainer a {
  text-decoration: none;
  color: black;
}

.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}