.mainContainer {
  grid-area: mainContainer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoWatermark {
  opacity: 0.1;
  position: fixed;
  width: 800px;
  height: 800px;
  top: calc(100vh - 800px);
  left: calc(100vw - 800px);
}

.profileCard {
  width: 90%;
  height: 95%;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
}