.navBar {
  grid-area: navBar;
  position: sticky;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background-color: var(--K8RDarkBlue);
  height: 100vh;
  padding: 15px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}

.navBarLogo {
  width: 100px;
  position: absolute;
  top: 0;
}

.navBarButton {
  width: 100%;
  color: var(--K8RPeach);
  font-size: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
}

.navBarButton:hover {
  transition: 0.2s;
  transform: scale(1.15);
  color: var(--K8RLightBlue);
  cursor: pointer;
}

.navBarCollapsed {
  transition: all 0.5s;
  width: 0;
  display: none;
}

.navBarExtended {
  transition: all 0.5s;
  width: auto;
  display: block;
  white-space: nowrap;
}

.navBarButtonTitle {
  font-size: 1.2rem
}